body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
/*MAIN TITLE:*/
h1 {
  text-align: center;
}
/*PERSONAL CARD, Centered:*/
.personalCard {
  max-width: 400px;
  padding: 1rem;
  border-radius: 20px;
  background-color: #f5d8d8;
  margin: 0 auto;
}
.personalCard h2,
h3 {
  text-align: center;
  margin: 0;
}
.maincardcont {
  display: flex;
  justify-content: space-between;
}
.picleft img {
  width: 90%;
  border-radius: 50%;
  border: solid darkgreen 2px;
}
/* Form */
form {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}
form input {
  width: ;
}
/*Text between cards:*/
.usersFollowers {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
/*FOLLOWER CARDS*/
.followers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.followerCard {
  background-color: #d8f5e7;
  padding: 1rem;
  border-radius: 20px;
  width: 25%;
}
.followerCard img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
